/* work sans font from google */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap");

/* shared style */
* {
  font-family: "Work Sans";
}
.section-tittle {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.section-description {
  color: #727272;
}

.btn-primary {
  width: 180px;
  height: 4rem;
  border-radius: 0.5rem;
  background: #ff900e;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
/* header related style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}
/* navbar related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner related style */

.banner-content {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
.banner-tittle {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main section related style */
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}
/* team section related style */
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-img-container img {
  width: 200px;
}
.team-content {
  padding-right: 70px;
  padding-left: 70px;
}
.team-tittle {
  font-size: 2.8rem;
}
.team-tittle .team-quicklist {
  color: #727272;
  font-weight: 500;
}
.team-tittle .text-feature {
  color: #ff900e;
  font-weight: 700;
}
/* fact section related style */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 45px 35px;
}
.facts-card-container .card-tittle {
  color: #727272;
font-size: 1.25rem;
font-weight: 600;
margin-top: 5px;
}
.facts-card-container .cart-stats {
  color: #424242;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Responsive Media Query*/

/* small media responsive */
@media screen and (max-width: 576px) {
  header {
    padding: 10px 10px;
  }
  nav,
  .team-container {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .team-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Medium device responsive */

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,
  .team-container {
    flex-direction: column;
  }
  header {
    padding: 20px 50px;
  }
  .team-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
